.list-element {
    background-color: white;
    border-style: double;
    border-color: #F2F2F2; 
    border-width: 1px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    padding-left: 25px; 

}

.item {
    font-family: "Roboto"; 
    font-size: 15px; 
    padding: 0; 
    margin: 0; 
}

.date{ 
    font-family: "Roboto"; 
    font-size: 13px; 
    padding: 0; 
    margin: 0; 
    margin-top: 11px; 
}

.top-navigation{ 
    height: 55px; 
    width: 100%; 
    padding-top: 15px; 
}

.top-nav{ 
    list-style: none;
}

.top-nav-item{ 
    font-family: "Roboto"; 
    font-size: 12px;  
    display:inline-block;
    vertical-align: top;
    width: 48%; 
}

.top-nav-item a{ 
    text-decoration: none; 
}

.active {
    color: #FFA520; 
}

.active-list { 
     border-bottom: 2px solid #FFA520;
    outline-offset: -10px;
}

.bottom-nav { 
    background-color: red; 
    list-style: none; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    height: 63px; 
    bottom: 0; 
    position: absolute; 
    
}


.bottom-nav-element { 
    font-family: "Roboto"; 
    font-size: 12px; 
    list-style: none; 
    background-color: green; 
    width: 24%; 
    padding: 0; 
    margin: 0; 
    display: inline-block; 
}







/* IPHONE SHIT */ 

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
