<html> 
    <head> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    
    <body> 
        
        <div class="top-navigation"> 
            
        </div>
        
        
        <!-- this is the dynamic content --> 
        <div class="list-element"> 
            <p class="item"> 5 Oranges</p>
            <p class="date"> Monday, April 5th</p>
        </div>
        <!-- this is the dynamic content --> 
        
         <div class="list-element"> 
            <p class="item"> 5 Oranges</p>
            <p class="date"> Monday, April 5th</p>
        </div>
    </body>
</html> 