<html> 
    <head> 
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    
    <body> 
        
        <div class="top-navigation"> 
            <ul class="top-nav"> 
                <li class="top-nav-item"> <a href="index.html"> INVENTORY</a></li>
                <li class="top-nav-item active-list"> <a href="transactions.html" class="active"> TRANSACTIONS</a> </li>
            </ul>
        </div>
        
        
        <!-- this is the dynamic content --> 
        <div class="list-element"> 
            <p class="item"> 5 Oranges</p>
            <p class="date"> Monday, April 5th</p>
        </div>
        <!-- this is the dynamic content --> 
        
         <div class="list-element"> 
            <p class="item"> 5 Oranges</p>
            <p class="date"> Monday, April 5th</p>
        </div>
        
        <div class="bottom-nav">
            <ul> 
                <li class="bottom-nav-element"> <a href=""> </a> <img src=""> FRIDGE </li>
                <li class="bottom-nav-element"> <a href=""> </a> <img src=""> SHOPPING </li>
                <li class="bottom-nav-element"> <a href=""> </a> <img src=""> FRIDGE </li>
                <li class="bottom-nav-element"> <a href=""> </a> <img src=""> FRIDGE </li>
            </ul>
        </div>
    </body>
</html> 